<% include partials/header.html %>
<title>UofT Professor Analysis</title>
<link href="/profanalysis.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  		<a class="navbar-brand" href="/">UofT Profs</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
   			<span class="navbar-toggler-icon"></span>
  		</button>
  		<div class="collapse navbar-collapse" id="navbarText">
    		<ul class="navbar-nav mr-auto">
		      	<li class="nav-item">
					<a class="nav-link" href="https://chrome.google.com/webstore/detail/uoft-profs/olojdnpfailkhfoimaddolpmeilcdong">Chrome Extension</a> 
		      	</li>
		      	<li class="nav-item">
					<a class="nav-link" href="https://github.com/Walden-Shen/uoft-profs">Source Code</a>
		      	</li>
    		</ul>
		    <span class="navbar-text">Aiming at improving UofT students' study experiences.</span>
		</div>
	</nav>
	<div class="container">
		<h1>Analyze your professor!</h1>
		<form id="profquery" action="/analyzeprof" method="POST">
		  <div class="form-row align-items-center">
		    <div class="col-sm-4 my-1 ui-widget">
		      <label class="sr-only" for="inlineFormInputName">Name</label>
		      <input type="text" class="form-control" id="inlineFormInputName"
			  name="instructor" pattern="[A-Za-z\s\.\-]*" title= "Full name of the instructor (case sensitive)" placeholder="Instructor full name (e.g., David Liu)" required>
		    </div>
		    <div class="col-sm-4 my-1">
		      <label class="sr-only" for="inlineFormInputGroupUsername">CourseID</label>
		      <div class="input-group">
			<div class="input-group-prepend">
			  <div class="input-group-text">@</div>
			</div>
			<input type="text" class="form-control" id="inlineFormInputGroupUsername" name="course" pattern="[A-Z]{3}(|\d{3})" title="begins with 3 captital letters, ends with 3 numbers" placeholder="Course ID (e.g., CSC148)" required>
		      </div>
		    </div>
			<br>
			<select name="campus">
				<option value="St. George">St. George</option>
				<option value="Mississauga">Mississauga</option>
			</select>
		    <div class="col-auto my-1">
		      <button type="submit" class="btn btn-primary">Submit</button>
		    </div>
		  </div>
		</form>
	</div>
	<div class="container" id="result">
		<% if (imgTag != '') { %>
			<p>If you like this service, why don't you mark <a href="http://uoftprofs.com">http://uoftprofs.com</a> for future
				use? That web domain wouldn't be changed in the next five years.</p>
			<img width="100%" src="data:image/png;base64,<%= imgTag %>">
		<div class="table-responsive">
			<table class="table" id="evaltable">
				<caption>Courses held by the instructor in past five years</caption>
				<thead class="thead-light">
					<tr>
						<th scope="col">#</th>
						<th scope="col">cID</th>
						<th scope="col">cName</th>
						<th scope="col">Lec#</th>
						<th scope="col">Term</th>
						<th scope="col">Instructor</th>
						<th scope="col" class="ttip" title="Intellectually Stimulating">Item 1</th>
						<th scope="col" class="ttip" title="Deeper Understanding">Item 2</th>
						<th scope="col" class="ttip" title="Course Atmosphere">Item 3</th>
						<th scope="col" class="ttip" title="Homework Fairness">Item 4</th>
						<th scope="col" class="ttip" title="Homework Quality">Item 5</th>
						<th scope="col" class="ttip" title="Overall Quality">Item 6</th>
						<th scope="col">Enthusiasm</th>
						<th scope="col">Recommend</th>
						<th scope="col">Workload</th>
						<th scope="col">Num Invited</th>
						<th scope="col">Num Responded</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i = 0; i < courseList.length; i++) { %>
					<tr>
					      	<th scope="row"><%= i+1 %></th>
						<td><%= courseList[i].cID %></td>
						<td><%= courseList[i].cName %></td>
						<td><%= courseList[i].lecNum %></td>
						<td><%= courseList[i].term %></td>
						<td><%= courseList[i].instructorFullName %></td>
						<td><%= courseList[i].intellectuallySimulating %></td>
						<td><%= courseList[i].deeperUnderstanding %></td>
						<td><%= courseList[i].courseAtmosphere %></td>
						<td><%= courseList[i].homeworkQuality %></td>
						<td><%= courseList[i].homeworkFairness %></td>
						<td><%= courseList[i].overallQuality %></td>
						<td><%= courseList[i].enthusiasm %></td>
						<td><%= courseList[i].recommend %></td>
						<td><%= courseList[i].workload %></td>
						<td><%= courseList[i].numInvited %></td>
						<td><%= courseList[i].numResponded %></td>
					</tr>
					<% } %>
		  		</tbody>
			</table>
		</div>
		<% } %>
	</div>

	<div class="container">
		<h5>Usage (25-05-18):</h5>
		<ul>
			<li>If the result returned is partly ploted or not ploted, there are
			several potential reasons:
				<ol>
					<li>Something is wrong with the database or the backend.</li>
					<li>There is a typo in your input (it's case sensitive). Please make sure your input
					value can be found in Blackboard's course eval module.</li>
					<li>The instructor didn't teach that course in the past five
					years. In this case, the result will be partly ploted.</li>
				</ol>
			</li>
			<li>How to interpret some of these labels?
				<ul>
					<li>intellectually simulating: "Darn my IQ gets
					challenged".</li>
					<li>homework fairness: CSC165's score is 0 regarding
					this.</li>
					<li>respondent percentage: If it is high, then this prof
					must be "impressive".</li>
				</ul>
			</li>
			<li>The database only contains UTSG+UTM undergraduates' evaluation
			data (excluding engineering), from 2012 fall to 2018 winter.</li>
			<li>Tricky way to use the system: If you only want to compare one
			professor with the entire department's profs, type the first three letter of
			that department (e.g., CSC) in the courseID field. (And in this case, the third graph will be useless.)
			</li>
			<li>Please don't hack the server for fun.</li>
			<li>If you want some other analysis, feel free to open an issue on
			the <a href="https://github.com/Walden-Shen/uoft-courses">github
			page</a>.</li>
		</ul>
	</div>

<% include partials/footer.html %>
